body {
  background: burlywood;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 100;
}
.App-logo {
  max-width: 50px;
  display: block;
  margin: 0 auto;
}

.App-header {
  margin: 40px 0;
  text-align: center;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
