.Dictionary section {
  background: wheat;
  padding: 30px;
  border-radius: 8px;
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.Dictionary hint {
  font-size: 15px;
  margin-top: 5px;
}
